@import url('https://fonts.googleapis.com/css?family=Arimo|Merriweather');

body {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.625;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: #616161;
}

a {
  text-decoration: none;
}

/*Responsive Grid */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width:600px) {

  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }

  /*    .header {flex-direction: column;
            justify-content: space-between;
            }*/
}

@media only screen and (min-width:768px) {

  /* For desktop: */

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}

/* ul Reset */
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/*Navigation Styles*/
.topNav {
  font-family: 'Merriweather', serif;
  display: flex;
  text-decoration: none;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.topNav--Active {
  color: #001b4b;
}

.topNav__Link {
  color: #fd907a;
  transition: 0.3s;
}

.topNav__Link:hover,
.copyright__link:hover,  
.contact__link:hover {
  color: #001b4b;
}

.topNav img {
  padding-left: 2em;
  margin-right: 10em;
}

ul.topNav li {
  float: left;
  padding-right: 2em;
}

* {
  box-sizing: border-box;
}

.row {
padding: 70px;
}

.row--team {
  margin-top: 2em;
}

.line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  padding: 46px 0 46px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.04);
}

.header-image {
  display: block;
  width: 100%;
  text-align: center;
  background:    /* top, transparent black, faked with gradient */ 
  linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('./img/omaha-skyline-at-night.jpg') no-repeat center center scroll;
  background-size: cover;
  -o-background-size: cover;
  url
}

.services ul {
  margin: 0;
  padding: 0 15px;
}

.services li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #fff;
  display: flex;
}

.footer {
  background-color: #fcfbf4;
}

.icon {
  color: #fd907a;
}

.social {
  width: 40px;
}

.contact {
  color: #b0b0b0;
  font-size: 14px;
}

.services {
  text-align: center;
}

.services__img, .team__img {
  width: 100%;
  height: auto;
  margin-bottom: 1.75em;
}

.services__title {
  color: #fd907a;
  font-weight: 500;
}

.services__txt {
  color: #616161;
  line-height: 1.75;
}

.btn {
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  display: inline-block;
  padding: 9px 37px;
  border-radius: 30px;
  border: 2px solid;
  transition: 0.3s;
}

.btn__bottom {
  align-self: flex-end;
}

.topNav__btn {
  color: #fff;
  border-color: #fd907a;
  background: #fd907a;
}

.topNav__btn:hover {
  color: #fd907a;
  border-color: #fd907a;
  background: #fff;
}

.footer__Logo {
  display: block;
  margin: 3em auto 0 auto;
}

.title-serif {

}

.team__title-serif {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-align: center;
  color: #001b4b;
  margin-top: 1em;
  margin-bottom: 1em;

}

.price__title-serif{
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 28px;

}

.team__title-pink {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #fd907a;
  font-size: 22px;
  font-weight: 400
}

.price__title-bigPink{
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #fd907a;
  font-size: 70px;
  font-weight: 500;
}

.team__title-smallGray {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 13px;
  color: #b0b0b0;
}

.price__title-smallGray {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #b0b0b0;
  letter-spacing: 3px;
  line-height: .25;
}

 .contact__title {
  font-family: 'Merriweather', serif;
  color: #001b4b;
  font-weight: 400;
  margin-bottom: 0.25em;
  font-size: 16px;
 }


 .copyright__txt {
  color: #b0b0b0;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
 }
 .copyright {
  text-align: center;
  margin: 0;
  padding: 0;
 }

 .contact__link {
  color: #fd907a;
  font-style: normal;

 }
 .team__txt, .form {
  font-size: 15px;
 }
 .copyright__link {
  color: #b0b0b0;
 }

 .row-footer {
  padding-bottom: 0;
 }

.contactForm__box {
  width: 100%;
  border: 0;
  border-radius: 15px;
  background-color: #f8f8f8;
  font-size: 18px;
  height: 45px;
  padding: 4px;
}

.contactForm__box-txt {
  resize: none;
  height: 200px;
}

.contactForm__label {
display: block;
width: 150px;
float: left;
padding: 10px 10px 5px 0px;

}

.subHeader {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #001b4b;
  font-size: 24px;
  font-weight: 100; 
  margin-bottom: 0;
}

.row.form {
  margin-top: 5px;
}

.contactHalf {
  width: 47.75%;
  display: inline-block;
}

.contactHalf:first-child {
  margin-right: 25px;
}

.contact__head {
  font-family: 'Merriweather', serif;
  color: #001b4b;
  font-size: 24px;
  font-weight: 100; 
  margin-bottom: 0;

}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.img-circle {
  display: block;
    margin-left: auto;
    margin-right: auto;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

.quote__box {
  background-color: #F8F3ED;
}

.price {
  text-align: center;
  padding: 50px;

}

.price:hover, 
.price:hover .price__title,
.price:hover .price__title-bigPink,
.price:hover .price__title-smallGray {
  color: #fff;
  border-color: #fd907a;
  background: #fd907a;
}

.price__txt {
  margin-top: 60px;
}

.price__btn {
  font-family: 'Merriweather', serif;
  margin-top: 40px;
  color: #fff;
  border-color: #fd907a;
  background: #fd907a;
}

.price:hover .price__btn{
  color: #001b4b;
  border-color: #fd907a;
  background: #fff;
}

.icon_border {
  border-radius: 50px;
  border: #fd907a 2px solid;

}