@import url('https://fonts.googleapis.com/css?family=Arimo|Merriweather');

body {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: #616161;
}

a {
  text-decoration: none;
}

/* ul Reset */
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/*Navigation Styles*/
.nav {
  font-family: 'Merriweather', serif;
  display: flex;
  text-decoration: none;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.nav__Item {
  float: left;
  padding-right: 32px;
}

.nav__Logo {
  padding-left: 32px;
  margin-right: 180px;
}

.nav__Link {
  color: #fd907a;
  transition: 0.3s;
}

.nav__Link:hover,
.copyright__link:hover,
.contact__link:hover {
  color: #001b4b;
}

.nav__Link--Active {
  color: #001b4b;
}

.nav_Shadow {
  padding: 46px 0 46px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.04);
}


/*icon styles*/
.icon {
  color: #fd907a;
}

.icon_border {
  border-radius: 50px;
  border: #fd907a 2px solid;
}

.social {
  width: 40px;
}



.service {
  text-align: center;
  padding: 35px;
}

.footer {
  background-color: #fcfbf4;
}

.contact {
  color: #b0b0b0;
  font-size: 14px;
}

.services__img,
.team__img {
  width: 100%;
  height: auto;
  margin-bottom: 1.75em;
}

.services__title {
  color: #fd907a;
  font-weight: 500;
}

.services__txt {
  color: #616161;
  line-height: 1.75;
}

.footer__Logo {
  display: block;
  margin: 3em auto 0 auto;
}

.title-serif {
}

.team__title-serif {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-align: center;
  color: #001b4b;
  margin-top: 1em;
  margin-bottom: 1em;
}

.price__title-serif {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 28px;
}

.team__title-header {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #fd907a;
  font-size: 22px;
  font-weight: 400
}

.price__title-bigPink {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #fd907a;
  font-size: 70px;
  font-weight: 500;
}

.team__title-subHeader {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 13px;
  color: #b0b0b0;
}

.price__title-smallGray {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #b0b0b0;
  letter-spacing: 3px;
  line-height: .25;
}

.contact__title {
  font-family: 'Merriweather', serif;
  color: #001b4b;
  font-weight: 400;
  margin-bottom: 0.25em;
  font-size: 16px;
}

.copyright__txt {
  color: #b0b0b0;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.copyright {
  text-align: center;
  margin: 0;
  padding: 0;
}

.contact__link {
  color: #fd907a;
  font-style: normal;
}

.team__txt,
.form {
  font-size: 15px;
}

.copyright__link {
  color: #b0b0b0;
}

.row-footer {
  padding-bottom: 0;
}

.contactForm__box {
  width: 100%;
  border: 0;
  border-radius: 15px;
  background-color: #f8f8f8;
  font-size: 18px;
  height: 45px;
  padding: 4px;
}

.contactForm__box-txt {
  resize: none;
  height: 200px;
}

.contactForm__label {
  display: block;
  width: 150px;
  float: left;
  padding: 10px 10px 5px 0px;
}

.subHeader {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #001b4b;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}

.row.form {
  margin-top: 5px;
}

.contactHalf {
  width: 47.75%;
  display: inline-block;
}

.contactHalf:first-child {
  margin-right: 25px;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.img-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.quote__box {
  background-color: #F8F3ED;
}
/*Price box style and hover */
.price {
  text-align: center;
  padding: 50px;
}

.price:hover,
.price:hover .price__title,
.price:hover .price__title-bigPink,
.price:hover .price__title-smallGray {
  color: #fff;
  border-color: #fd907a;
  background: #fd907a;
}

.price__txt {
  margin-top: 60px;
}

.price:hover .btn--dark {
  color: #001b4b;
  border-color: #fd907a;
  background: #fff;
}

/*Buttons*/
.btn {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  display: inline-block;
  padding: 9px 37px;
  border-radius: 30px;
  border: 2px solid;
  transition: 0.3s;
}

.btn--dark {
  color: #fff;
  border-color: #fd907a;
  background: #fd907a;
}

.btn--dark:hover {
  color: #001b4b;
  border-color: #fd907a;
  background: #fff;
}

.btn--light {
  color: #001b4b;
  border-color: #dcc2b3;
  background-color: #fff;
}

.btn--light:hover {
  color: #fd907a;
  border-color: #fd907a;
  background: #fff;
}

.btn-space {
  margin-top: 40px;
}