body {margin:0;}

.wrapper {
  margin: 0 4em;
}

ul {
  list-style: none;
}

ul.topnav {
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

ul.topnav img {
  padding-left: 2em;
  margin-right: 10em;
}

ul.topnav li {
  float: left;
  padding-right: 2em;
}

ul.topnav li a {
  display: inline-block;
  color: #fd907a;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  color: navy;
  }

ul.topnav li.icon {
  display: none;
  color: navy;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
* {
    box-sizing: border-box;
}

.row {
  margin-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid rgba(234, 223, 214,0.3);
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
  padding: 20px 60px 20px 60px;
  display: flex;
  align-items: center;
-webkit-box-shadow: 0px 31px 28px -6px rgba(234, 223, 214,0.3);
-moz-box-shadow: 0px 31px 28px -6px rgba(234, 223, 214,0.3);
box-shadow: 0px 31px 28px -6px rgba(234, 223, 214,0.3);

}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(  rgba(0, 0, 0, 0.45),  rgba(0, 0, 0, 0.45)  ), url('./img/omaha-skyline-at-night.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 url
}

.services ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
}
.services li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#fff;
    display: flex;
}



}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .header {flex-direction: column;
              justify-content: space-between;
              }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .header {flex-direction: row;
            justify-content: space-between;}
}
.services {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 0;
}
.services__img {
  width: 100%;
  height: auto;
  margin-bottom: 1.75em;
}

.services__title {
color: #fd907a; 
font-weight: bold;
}

.services__txt {
  color: #616161;
  line-height: 1.75;
  padding: 0;
  margin-bottom: 0;
}